* {margin:0px;padding:0px;}
body{font-family: Arial; font-size:100%; }
main, nav, article, aside, section, header,
section {display:block;}

@media (min-width:851px){
    .leftCol{
        float: left;
        width: 40%;
        margin-right: 5%;
        background: yellow;
        font-size: 1.4vw;
    }
    
    .midCol{
        float: left;
        width: 25%;
        margin-right: 5%;
        background: #666666;
        font-size: 1.1vw;
    
    }
    
    .rightCol{
        float: right;
        width: 25%;
        background: red;
        font-size: 1.2vw;
    
    }
}

@media (min-width:850px){
    .leftCol{
        float: left;
        width: 55%;
        margin-right: 5%;
        background: yellow;
    }
    
    .midCol{
        float: right;
        width: 35%;
        margin-right: 0px;
        background: #666666;    
    }
    
    .rightCol{
        float: none;
        width: 100%;
        background: red;
        clear: both;    
    }
}

@media (min-width:591px) and (max-width:850px){
    .leftCol{
        float: left;
        width: 55%;
        margin-right: 5%;
        background: yellow;
    }
    
    .midCol{
        float: right;
        width: 35%;
        margin: 0px;
        background: #666666;    
    }
    
    .rightCol{
        float: none;
        width: 100%;
        background: red;
        clear:both;
    
    }
}

@media (max-width:590px){
    .leftCol, .midCol, .rightCol{
        float: none;
        width: 100%;
        margin: 0px;
        border-bottom: 1px solid black;
        background: yellow;
    }
}