* {margin:0px;padding:0px;}
body{font-family: 'Gloria Hallelujah', cursive, sans-serif;
    ; font-style: normal;}

body{        
    background: #000000;
    color: #ffffff;
    font-size: 15px;
}

form{
    padding-left: 9%;
    padding-top: 20px;
}

a{
    text-decoration: none;
}

#wrapper{
    padding-left: 30%;
    padding-top: 2%;
    width: auto;
    margin: auto;
}

section h1{
    font-size: 30px;
    padding-left: 200px;
  
}

section h2{
    font-size: 42px;
    padding-top: 10px; 
}

input{
    padding: 5px;
}

input[type=text], input[type=password], input[type=email],input[type=url], input[type=tel],input[type=number] {
    margin: 8px 0;
    box-sizing: border-box;
    padding: 11px 0;
    width: 461px;
  }

input[type=checkbox]{
    width: 7%;
    margin: 10px 0;

}

input[type=range]{
    width: 100%;
    margin: 10px 0;
}

input[type=image]{
    padding-left: 30px;

}

.btn-dark {
    background: url(../images/send.png)no-repeat;
    padding: 49px;
    margin-left: 180px;
    background-size: 90px;
    padding-left: 39px;
}

.video{
    margin-left: 100px;
    margin-bottom: 20px;
}
